.action a{background-color : #2c88e6 !important;}
.search-box input{border-radius : 0.5rem !important;}
.nav-links a:hover, .nav-links a.router-link-active{border-bottom:2px solid #2c88e6 !important;;}